@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    cursor: url("https://marvinfm.fr/assets/images/miku-sing.gif"), default;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    cursor: url("https://marvinfm.fr/assets/images/miku-grab.gif"), grab;
}

a, button {
    cursor: url("https://marvinfm.fr/assets/images/miku-hand.gif"), pointer;
}

input {
    cursor: url("https://marvinfm.fr/assets/images/miku-beam.gif"), crosshair;
}

:root {
    --bg-color: #E5D9F2;
    --text-color: #2b0f99;
    --content-bg: #F5EFFF;
    
    --link-color: #A594F9;
    --link-hover-bg: #CDC1FF;
    --link-hover-text: white;
}

.dark-mode {
    --bg-color: #312f38;
    --text-color: #e3c5d5;
    --content-bg: #545066;
    
    --link-color: #9a8aa6;
    --link-hover-bg: #9e8592;
    --link-hover-text: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--text-color);
    background: var(--content-bg);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);

    height: 80px;

    margin: 16px;
    padding: 20px;

    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

#centre_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 3rem;
}

#droite_header {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	width: 100px;
}
#droite_header button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    
    text-align: center;
}
#droite_header a {
    text-align: center;
}
header button,
header a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
    
    margin: 12px 0;
    padding: 8px;

    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#droite_header a:hover,
#droite_header button:hover {
    color: var(--link-hover-bg);
    background: none;
}
#droite_header i {
	font-size: 1.6em;
}

.container {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#form {
    width: 45vw;
}

input[type="submit"] {
    color: var(--text-color);
    background-color: var(--link-color);
    border: none;
    
    cursor: pointer;
    margin-top: 10px;
}

select,
button,
input {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 12px;
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

button:hover,
input:hover,
a:hover {
    color: var(--link-hover-text);
    background: var(--link-hover-bg);
    text-decoration: none;
}

section {
    /*width: 100%;*/
}

.content_ {
    background: var(--content-bg);
    
    margin: 16px;
    padding: 20px;
    
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}
.content_:hover {
    transform: scale(1.005);
}

h1 {
    font-size: 2rem;
}
h2 {
    border-bottom: 3px solid var(--link-color);
    font-size: 22px;
}

.barre{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    gap: 8px;
}

.aff {
    width: 50px;
}